* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

a {
  all: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5rem;
  text-align: center;
  height: 100%;
}

